In [1]:
import pandas as pd

In [2]:
df = pd.read_parquet("../data_pipeline/data/results/user_recommendations.parquet")
df.head()

   user_id                                    recommendations
0       12  [{'game_id': 97, 'rating': 0.9030826091766357}...
1       26  [{'game_id': 285, 'rating': 0.9007523655891418...
2       27  [{'game_id': 89, 'rating': 0.9035353660583496}...
3       31  [{'game_id': 158, 'rating': 0.8938353061676025...
4       34  [{'game_id': 89, 'rating': 0.8912246823310852}...

In [ ]:
df["recommendations"] = df["recommendations"].apply(
    lambda x: [item["game_id"] for item in x]
)
df.head()

   user_id                                   recommendations
0       12    [97, 78, 136, 116, 157, 89, 274, 131, 211, 54]
1       26    [285, 205, 63, 228, 117, 206, 54, 47, 186, 51]
2       27        [89, 63, 78, 125, 52, 51, 165, 54, 69, 48]
3       31  [158, 127, 76, 38, 143, 202, 178, 179, 131, 136]
4       34   [89, 106, 138, 284, 69, 212, 125, 78, 122, 127]

In [5]:
records = df.to_dict(orient="records")

In [13]:
records[96]

{'user_id': 853,
 'recommendations': [150, 117, 58, 54, 195, 39, 119, 5, 131, 125]}